In [ ]:
import pandas as pd
import numpy as np

In [ ]:
titanic = pd.read_csv("datasets/titanic.csv")

In [ ]:
ages = titanic["Age"]
ages.head()

In [ ]:
type(titanic)

In [ ]:
type(ages)

In [ ]:
ages.shape

In [ ]:
age_sex = titanic[["Age", "Sex"]]
age_sex.head()

In [ ]:
type(age_sex)

### How do I filter specific rows from a DataFrame?

In [ ]:
above_35 = titanic[titanic["Age"] > 35]
above_35.head()

In [ ]:
above_35.shape

In [ ]:
age_no_na = titanic[titanic["Age"].notna()]
age_no_na

### How do I select specific rows and columns from a DataFrame?

In [ ]:
titanic.loc[titanic["Age"] > 35, "Name"]

In [ ]:
titanic.iloc[9:25, 2:5]

In [ ]:
# loc[label, label]
# iloc[position, position]

In [ ]:
titanic.iloc[0:3, 3] = "anonymous"
titanic.head()