# String

## 1. We all know single character takes 1 byte of memory, then why empty string (**""**) takes 49 bytes ?

In [ ]:
"".__sizeof__()

### Ans

because in python every thing is object, string is also a object. therefore an empty string object takes 49 bytes.

In [ ]:
"Prabhu".__sizeof__()

   "Prabhu" takes 6 bytes and object takes 49 bytes. totally 55 bytes

----

## 2. What is difference between character and string

### Ans

----

## 3. Which encoding is used for String, ASCII or Unicode ? and Why ?

### Ans

----

## 4. Reverse a String using Slice

### Ans

In [ ]:
"Hello World"[::-1]

----

## 5. Print * for n times, let assume n = 100

### Ans

In [ ]:
"*" * 100

----

## 6. What is the output for below code in REPL environment ?

In [ ]:
print("Hello\nWorld")
"Hello\nWorld"

### Ans

----

## 7. print this word **"Hello World, I'm Prabhu"**

### Ans

In [ ]:
print("\"Hello World, I'm Prabhu\"")

In [ ]:
print(""" "Hello World, I'm Prabhu" """)

In [ ]:
print('"Hello World, I\'m Prabhu"')

----

## 8. print this symbol **/^\\**

### Ans

In [ ]:
print("/^\\")

----

## 9. Print this word : "I am Newline \n But I am not printed because of raw string"

### Ans

In [ ]:
print(r'"I am Newline \n But I am not printed because of raw string"')

----

## 10. Print any String in Byte Format

### Ans

In [ ]:
print(b"ABC")

----

## 11. What is difference between normal string and byte string

In [ ]:
a = "A"
ba = b'A'
print(a, a.__sizeof__())
print(ba, ba.__sizeof__())

### Ans

In order to Store a String in memory, first encoding is done. After encoding we get Bytes String. Before Encoding size of 'A' is 50, After enconding 'A' the size will 34

----

## 12. How to Print a Paragraph

In [ ]:
print("""
...
...
...
""")

----

## 13. Remove the unwanted whitespace in beginning and end

In [ ]:
print("        hello world        ")

### Ans

In [ ]:
print("   hello world    ".strip())

----

## 14. Print it in UpperCase

In [ ]:
name = "Prabhu"

### Ans

In [ ]:
name.upper()

----

## 15. Welcome Message

use employee and company as variable and print it like "Hi Employee_name, Welcome to Company_name"

In [ ]:
employee = "Reshma"
company = "OneData"

### Ans

In [ ]:
print("Hi "+ employee + ", Welcome to " + company)

In [ ]:
print("Hi {0}, Welcome to {1}".format(employee, company))

In [ ]:
print(f"Hi {employee}, Welcome to {company}")

----

# Project - Format the SQL statement

### keyword must be uppercase, other word must be lowercase.

### Input
```sql
select product_name, price from PRODUCT where PRICE <= 10000 limit 10;
```

### Output
```sql
SELECT product_name, price FROM product WHERE price <= 10000 LIMIT 10;
```

In [ ]:
unformatted_sql = "select product_name, price from PRODUCT where PRICE <= 10000 limit 10;"
formated_sql = ""

keywords = ["SELECT", "FROM", "WHERE", "LIMIT", "JOIN"]

words = unformatted_sql.split(" ")

for word in words:
  if word.upper() in keywords:
    formated_sql += word.upper() + " "
  else:
    formated_sql += word.lower() + " "

print(formated_sql)